In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

In [3]:
driver = webdriver.Chrome("C:/webdrivers/chromedriver.exe")
driver.get("https://www.nike.com/in/w/sale-3yaep")

C:\Users\abinash.k.bhagat\AppData\Local\Temp\ipykernel_22316\1866650241.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("C:/webdrivers/chromedriver.exe")

### Scrolling upto last item.

In [4]:
last_height = driver.execute_script('return document.body.scrollHeight')
while True:
    driver.execute_script('window.scrollTo(0,document.body.scrollHeight)')
    time.sleep(2)
    new_height = driver.execute_script('return document.body.scrollHeight')
    print(new_height, last_height)
    if new_height == last_height:
        break
    last_height = new_height

14313 5431
23203 14313
32094 23203
40984 32094
49875 40984
58765 49875
67656 58765
76546 67656
80992 76546
89882 80992
98773 89882
107663 98773
116554 107663
125444 116554
133101 125444
133101 133101

### Finding each product details

In [5]:
soup = BeautifulSoup(driver.page_source, 'lxml')

In [6]:
product_card = soup.find_all('div', class_='product-card__body')

df = pd.DataFrame({'Link': [''],
                   'Name': [''],
                   'Subtitle': [''],
                   'Price': [''],
                   'Sale Price': ['']})

for product in product_card:
    try:
        link = product.find('a', class_='product-card__link-overlay').get('href')
        name = product.find('div', class_= 'product-card__title').text
        subtitle = product.find('div', class_= 'product-card__subtitle').text
        full_price = product.find('div', class_= 'product-price is--striked-out').text
        sale_price = product.find('div', class_= 'product-price is--current-price css-s56yt7').text
        # df = df.append({'Link': link,
        #                 'Name': name,
        #                 'Subtitle': subtitle,
        #                 'Price': full_price,
        #                 'Sale Price': sale_price},
        #                 ignore_index = True)
        df = pd.concat([df, pd.DataFrame.from_records([{'Link': link,
                        'Name': name,
                        'Subtitle': subtitle,
                        'Price': full_price,
                        'Sale Price': sale_price}])])
    except:
        pass

In [7]:
df

,Link,Name,Subtitle,Price,Sale Price
0,,,,,
0,https://www.nike.com/in/t/liverpool-fc-2021-22...,Liverpool F.C. 2021/22 Stadium Home,Men's Football Shirt,"₹4,695","₹3,757"
0,https://www.nike.com/in/t/lebron-19-basketball...,LeBron 19,Basketball Shoe,"₹17,595","₹14,077"
0,https://www.nike.com/in/t/dri-fit-rival-basket...,Nike Dri-FIT Rival,Men's Basketball Shorts,"₹1,595","₹1,277"
0,https://www.nike.com/in/t/crater-impact-shoes-...,Nike Crater Impact,Women's Shoes,"₹8,295","₹6,637"
...,...,...,...,...,...
0,https://www.nike.com/in/t/story-pack-training-...,Nike Therma-FIT Story Pack,Men's Full-Zip Training Hoodie,"₹3,995","₹3,197"
0,https://www.nike.com/in/t/court-vision-low-sho...,Nike Court Vision Low Premium,Women's Shoes,"₹5,995","₹4,797"
0,https://www.nike.com/in/t/polo-polo-N920kf/DA3...,The Nike Polo,Women's Polo,"₹2,995","₹2,397"
0,https://www.nike.com/in/t/yoga-dri-fit-printed...,Nike Yoga Dri-FIT,Women's Printed PJ Tank,"₹1,695","₹1,357"
0,https://www.nike.com/in/t/air-max-dawn-shoe-gq...,Nike Air Max Dawn,Men's Shoes,"₹9,295","₹7,437"